mixin foto(src, alt, caption)
	li.ambiente__foto-container
			figure
				img.ambiente__foto(src=src alt=alt)
				if caption
					figcaption.ambiente__legenda=caption
		

div.ambiente
	h1.ambiente__titulo Ambiente 


	ul.ambiente__fotos

		+foto("imgs/Gelato.jpg", "gelato", "#")

		+foto("imgs/balcao.jpg", "balcão", "#")

		+foto("imgs/ambiente.jpg", "#", "#")

		+foto("imgs/home.jpg", "home", "#")



