
		

div.box__ambiente
	h1.titulo__ambiente Ambiente 
		div.ambiente_fotos 
			ul
				li.ambiente__imagens 
					a.box__main2
						img.main__fotos(src="imgs/gelato.jpg" border="0" alt="#")
						br
						span #

				li.ambiente__imagens 
					a.box__main2
						img.main__fotos(src="imgs/balcao.jpg" border="0" alt="#")
						br
						span #
				li.ambiente__imagens 
					a.box__main2
						img.main__fotos(src="imgs/Ambiente.jpg" border="0" alt="#")
						br
						span #	
				li.ambiente__imagens 
					a.box__main2
						img.main__fotos(src="imgs/home.jpg" border="0" alt="#")
						br
						span #		