footer.footer
	div.footer__direito
	p.footer__endereco Av. Paes de barros, 2345 #[br] (11)2345-5678
		div.footer_facebook
			a(href="https://www.facebook.com/alanis.marquestonozzi.9" target="parent")

div.footer__esquerdo 
	img.footer__logo(src="mgs/logobranca.png")