footer.footer
		.footer__direito
			p.footer__endereco Av. Paes de barros, 2345 <br> (11)2345-5678
			.footer__facebook
				a(href="https://www.facebook.com/alanis.marquestonozzi.9" target="parent")
			
		

		.footer__esquerdo
			img.footer__logo(src="imgs/logobranca.png")