div.quem-somos
	h1.quem-somos__titulo Quem somos?
	p.quem-somos__descricao 
		| A sorveteria da Alanis foi criada por um ser perfeito, possui o melhor sorvete do mundo, tudo isso graças a deusa Alanis, nossos sorvetes são perfeitos pois a nossa fórmula foi baseada na Alanis.