doctype html
html
	head
		title Sorveteria da Alanis
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="main.css")
	body
		include templates/header
		include templates/quem-somos
		include templates/ambiente
		include templates/contato
		include templates/footer 
		script(src="Validador.class.js")
		script(src="script.js")