body
	background-image: url("../imgs/imagemfundo.jpg")

$transparencia: rgba(#f5f5f5, .57)
$azulbox: #56c8e8

@import "./styles/reset"
@import "./styles/header"
@import "./styles/quem-somos"
@import "./styles/ambiente"
@import "./styles/contato"
@import "./styles/footer"